<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/js/auth.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Login</h2>
            <div class="form-login">
                <input type="email" name="e-mail" id="e-mail" placeholder="Email">
                <input type="password" name="senha" id="senha" placeholder="Senha">
                <a href="#"> Esqueceu sua senha ?</a>
                <button type="button" onclick="fazerLogin()">Login</button>
            </div> <!-- Login -->
        </div>
    </div>
</body>
</html>