<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/css/usuarios.css">
    <script src="/js/gerenciarUsuarios.js" defer></script>
</head>
<body>
<div class="container">
    <!--Agrupar o título e botão de voltar lado a lado -->
    <div class="header-tabela">
        <h1>Gerenciamento de Usuários</h1>
        <a href="/auth/dashboard" class="btn-voltar">Voltar</a>
    </div>
    <!-- Container responsivo para evitar que a tabela quebre em telas menores -->
    <div class="tabela-responsivo">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tabelaUsuarios">
            <!-- Ponto de inserção das linhas do js -->
            </tbody>
        </table>
    </div>
    <!-- Formulário de cadastro -->
    <div class="formulario-cadastro">
        <h2>Cadastrar Novo Usuário</h2>

        <label for="nomeNovo">Nome:</label>
        <input type="text" id="nomeNovo" placeholder="Digite o nome completo">

        <label for="emailNovo">E-mail:</label>
        <input type="email" id="emailNovo" placeholder="Digite o e-mail">

        <label for="senhaNova">Senha:</label>
        <input type="password" id="senhaNova" placeholder="Digite a senha">

        <label for="perfilNovo">Perfil:</label>
        <select id="perfilNovo">
            <!-- Opções de acordo com o ENUM -->
            <option value="ADMINISTRADOR">Administrador</option>
            <option value="Operador">Operador</option>
        </select>

        <button type="button" onclick="salvarUsuario()">Salvar Usuário</button>
    </div>

</div>
</body>
</html>